In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./submissions.csv')
data = data.dropna()
data = data.astype({'execution_time': 'int32'})

In [3]:
data.head()

,id,epoch_second,problem_id,contest_id,user_id,language,point,length,result,execution_time
0,11777888,1586677338,abc151_c,abc151,i_lohas_MATCH,C++14 (GCC 5.4.1),300.0,777,AC,73.0
1,10100114,1581749288,abc141_b,abc141,rniya,C++14 (GCC 5.4.1),200.0,1002,AC,1.0
2,1434499,1500261926,abc067_b,abc067,naoki2016,C++14 (GCC 5.4.1),200.0,598,AC,1.0
3,7280619,1567343186,abc139_e,abc139,syym88,Python3 (3.4.3),0.0,1070,TLE,2106.0
4,11168255,1585009689,dwango2017qual_a,dwacon2017-prelims,t_kato,PyPy3 (2.4.0),100.0,99,AC,172.0

In [4]:
users = data['user_id']
unique_users = users.unique()

In [5]:
data_ac = data[data['result'] == 'AC']

In [6]:
data_ac.head()

,id,epoch_second,problem_id,contest_id,user_id,language,point,length,result,execution_time
0,11777888,1586677338,abc151_c,abc151,i_lohas_MATCH,C++14 (GCC 5.4.1),300.0,777,AC,73.0
1,10100114,1581749288,abc141_b,abc141,rniya,C++14 (GCC 5.4.1),200.0,1002,AC,1.0
2,1434499,1500261926,abc067_b,abc067,naoki2016,C++14 (GCC 5.4.1),200.0,598,AC,1.0
4,11168255,1585009689,dwango2017qual_a,dwacon2017-prelims,t_kato,PyPy3 (2.4.0),100.0,99,AC,172.0
5,11197219,1585128140,agc006_b,agc006,zoooma13,C++14 (GCC 5.4.1),400.0,651,AC,38.0

In [8]:
exec_time = data_ac['execution_time']

In [9]:
exec_time[exec_time.isnull()].head()

Series([], Name: execution_time, dtype: float64)

In [10]:
list_for_exec = ['problem_id', 'language', 'execution_time']
list_for_leng =  ['problem_id', 'language', 'length']
data_exec = data_ac[list_for_exec]
data_leng = data_ac[list_for_leng]

In [11]:
group_prob_lang_exec = data_exec.groupby(['language', 'problem_id'])
group_prob_lang_leng = data_leng.groupby(['language', 'problem_id'])

In [49]:
exec_statistics = group_prob_lang_exec.min().rename(columns={'execution_time': 'min'})

In [50]:
exec_statistics_10 =  group_prob_lang_exec.quantile(0.1, interpolation='higher')
exec_statistics_25 =  group_prob_lang_exec.quantile(0.25, interpolation='higher')
exec_statistics_50 =  group_prob_lang_exec.quantile(0.50, interpolation='higher')
exec_statistics_75 =  group_prob_lang_exec.quantile(0.75, interpolation='higher')

In [51]:
exec_statistics['10%'] = exec_statistics_10['execution_time']
exec_statistics['25%'] = exec_statistics_25['execution_time']
exec_statistics['50%'] = exec_statistics_50['execution_time']
exec_statistics['75%'] = exec_statistics_75['execution_time']

In [52]:
exec_statistics.head(20)

                                    min     10%     25%     50%     75%
language             problem_id
Ada2012 (GNAT 9.2.1) abc162_a       4.0     4.0     4.0     4.0     4.0
                     abc164_a       2.0     5.0     5.0     5.0     5.0
                     abc164_b       3.0     3.0     3.0     3.0     3.0
                     abc165_a       4.0     4.0     4.0     4.0     4.0
Awk (GNU Awk 4.1.4)  abc162_a       3.0     3.0     4.0     8.0    12.0
                     abc162_b      11.0   271.0   271.0   350.0   355.0
                     abc162_c      76.0  1419.0  1419.0  1503.0  1690.0
                     abc162_d    1120.0  1141.0  1165.0  1184.0  1217.0
                     abc162_e     414.0   414.0   414.0   414.0   414.0
                     abc162_f     138.0   146.0   154.0   277.0   302.0
                     abc163_a       2.0     3.0     4.0     5.0     9.0
                     abc163_b      11.0    12.0    12.0    12.0    14.0
                     abc163_c     167.0   180.0   182.0   214.0   225.0
                     abc163_d       8.0     9.0     9.0     9.0     9.0
                     abc163_e    1788.0  1788.0  1788.0  1788.0  1788.0
                     abc163_f    1191.0  1191.0  1191.0  1191.0  1191.0
                     abc164_a       3.0     3.0     4.0     6.0     9.0
                     abc164_b       3.0     3.0     6.0     9.0    15.0
                     abc164_c     120.0   130.0   130.0   130.0   135.0
                     abc164_d     108.0   108.0   108.0   108.0   108.0

In [ ]:
length_statistics =  group_prob_lang_leng.min().rename(columns={'length': 'min'})

In [ ]:
length_statistics_10 =  group_prob_lang_leng.quantile(0.1, interpolation='higher')
length_statistics_25 =  group_prob_lang_leng.quantile(0.25, interpolation='higher')
length_statistics_50 =  group_prob_lang_leng.quantile(0.50, interpolation='higher')
length_statistics_75 =  group_prob_lang_leng.quantile(0.75, interpolation='higher')

In [ ]:
length_statistics['10%'] = length_statistics_10['length']
length_statistics['25%'] = length_statistics_25['length']
length_statistics['50%'] = length_statistics_50['length']
length_statistics['75%'] = length_statistics_75['length']

In [45]:
length_statistics.head(20)

In [46]:
length_statistics_10 =  group_prob_lang_leng.quantile(0.1, interpolation='higher')
length_statistics_25 =  group_prob_lang_leng.quantile(0.25, interpolation='higher')
length_statistics_50 =  group_prob_lang_leng.quantile(0.50, interpolation='higher')
length_statistics_75 =  group_prob_lang_leng.quantile(0.75, interpolation='higher')

In [47]:
length_statistics['10%'] = length_statistics_10['length']
length_statistics['25%'] = length_statistics_25['length']
length_statistics['50%'] = length_statistics_50['length']
length_statistics['75%'] = length_statistics_75['length']

In [48]:
length_statistics.head(20)

                                  min   10%   25%   50%   75%
language             problem_id
Ada2012 (GNAT 9.2.1) abc162_a     438   438   438   438   438
                     abc164_a     280   299   299   299   299
                     abc164_b     483   483   483   483   483
                     abc165_a     423   423   423   423   423
Awk (GNU Awk 4.1.4)  abc162_a      17    17    17    19    20
                     abc162_b      32    50    50    65   101
                     abc162_c     151   162   162   175   183
                     abc162_d     109   114   116   118   136
                     abc162_e    5155  5155  5155  5155  5155
                     abc162_f      65    68    69    74    83
                     abc163_a       7     8     9    12    16
                     abc163_b      38    57    57    58   108
                     abc163_c      45    47    49    63    75
                     abc163_d      42    46    46    46    46
                     abc163_e    1326  1326  1326  1326  1326
                     abc163_f     579   579   579   579   579
                     abc164_a      23    24    24    24    34
                     abc164_b      39    41    49    49   111
                     abc164_c      26    31    31    31    35
                     abc164_d      68    68    68    68    68

In [16]:
list_for_user_info = ['user_id', 'problem_id', 'language', 'length', 'execution_time']
pre_user_info = data_ac[list_for_user_info]

In [17]:
pre_user_info.head()

         user_id        problem_id           language  length  execution_time
0  i_lohas_MATCH          abc151_c  C++14 (GCC 5.4.1)     777            73.0
1          rniya          abc141_b  C++14 (GCC 5.4.1)    1002             1.0
2      naoki2016          abc067_b  C++14 (GCC 5.4.1)     598             1.0
4         t_kato  dwango2017qual_a      PyPy3 (2.4.0)      99           172.0
5       zoooma13          agc006_b  C++14 (GCC 5.4.1)     651            38.0

In [18]:
group_user_lang_prob = pre_user_info.groupby(['user_id', 'language', 'problem_id'])

In [19]:
user_info = group_user_lang_prob.min()

In [20]:
user_info.head(100)

                                      length  execution_time
user_id language          problem_id
0071717 Python3 (3.4.3)   abc161_b       704            17.0
011337  C++ (GCC 9.2.1)   abc162_a       203             2.0
                          abc162_b       204             7.0
                          abc162_c       386           346.0
                          abc164_a       154             7.0
...                                      ...             ...
0ChanAk C++14 (GCC 5.4.1) abc160_a       495             1.0
                          abc160_b       488             1.0
                          abc160_c       496            66.0
                          abc161_a       196             1.0
                          abc161_b       533             1.0

[100 rows x 2 columns]